In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\megha\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\megha\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\megha\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\megha\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\megha\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: outcome in c:\users\megha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: idna in c:\users\megha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: exceptiongroup in c:\users\megha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\megha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\megha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\megha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\megha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\megha\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\megha\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\megha\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\megha\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [27]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import requests
import re
import pandas as pd

In [215]:
driver =webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [30]:
# Q2 ANS:

In [31]:
driver =webdriver.Chrome()
driver.get("https://www.bcci.tv/")

In [33]:
Search=driver.find_element(By.XPATH,"/html/body/div[6]/div[1]/div/div/div[2]/div/div[2]/div/div[1]/div[1]")
Search.click()

In [34]:
Series=[]
SR=driver.find_elements(By.XPATH,'//div[@class="match-card match-card-fw match-card-up ng-scope"]/div/div/div/h5')
for i in SR:
    if i.text is None :
        Series.append("--") 
    else:
        Series.append(i.text)
print(len(Series),Series)

7 ['ENGLAND TOUR OF INDIA 2023-24', 'ENGLAND TOUR OF INDIA 2023-24', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024']

In [35]:
Place=[]
PL=driver.find_elements(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12 ng-scope"]/div/div[2]/div[1]')
for i in PL:
    if i.text is None :
        Place.append("--") 
    else:
        Place.append(i.text)
print(len(Place),Place)

7 ['JSCA International Stadium Complex, Ranchi', 'Himachal Pradesh Cricket Association Stadium, Dharamsala', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare']

In [36]:
Date=[]
DT=driver.find_elements(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12 ng-scope"]/div/div[1]/div/div/div[2]/div[1]')
for i in DT:
    if i.text is None :
        Date.append("--") 
    else:
        Date.append(i.text)
print(len(Date),Date)

7 ['23 FEBRUARY, 2024', '7 MARCH, 2024', '6 JULY, 2024', '7 JULY, 2024', '10 JULY, 2024', '13 JULY, 2024', '14 JULY, 2024']

In [37]:
Time=[]
TM=driver.find_elements(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12 ng-scope"]/div/div[1]/div/div/div[2]/div[2]')
for i in TM:
    if i.text is None :
        Time.append("--") 
    else:
        Time.append(i.text)
print(len(Team),Team)

7 ['9:30 AM IST', '9:30 AM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST']

In [41]:
Team=[]
TEM=driver.find_elements(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12 ng-scope"]/div/div[2]/div[2]')
for i in TEM:
    if i.text is None :
        Team.append("--") 
    else:
        Team.append(i.text)
print(len(Team),Team)

7 ['India\nEngland', 'India\nEngland', 'Zimbabwe\nIndia', 'Zimbabwe\nIndia', 'Zimbabwe\nIndia', 'Zimbabwe\nIndia', 'Zimbabwe\nIndia']

In [42]:
df=pd.DataFrame({"Series":Series,"Team":Team,"Place":Place,"Date":Date,"Time":Time})
df

,Series,Team,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,India\nEngland,"JSCA International Stadium Complex, Ranchi","23 FEBRUARY, 2024",9:30 AM IST
1,ENGLAND TOUR OF INDIA 2023-24,India\nEngland,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
2,INDIA TOUR OF ZIMBABWE 2024,Zimbabwe\nIndia,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,Zimbabwe\nIndia,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,Zimbabwe\nIndia,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,Zimbabwe\nIndia,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,Zimbabwe\nIndia,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

In [43]:
#Q3 Ans:-

In [44]:
driver =webdriver.Chrome()
driver.get("http://statisticstimes.com/")

In [53]:
Search=driver.find_element(By.XPATH,'//div[@id="top"]/div[2]/div[2]/button')
Search.click()

In [54]:
Search=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')
Search.click()

In [55]:
Search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
Search.click()

In [76]:
from selenium.webdriver.common.keys import Keys
Rank=[]
RK=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[1]')
for i in RK:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
print(len(Rank),Rank)

34 ['1', '3', '5', '7', '9', '11', '13', '15', '17', '19', '21', '23', '25', '27', '29', '31', '33', '1', '3', '5', '7', '9', '11', '13', '15', '17', '19', '21', '23', '25', '27', '29', '31', '33']

In [77]:
State=[]
ST=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[2]')
for i in ST:
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)
print(len(State),State)

34 ['Maharashtra', 'Uttar Pradesh', 'Gujarat', 'Rajasthan', 'Andhra Pradesh', 'Kerala', 'Haryana', 'Bihar', 'Assam', 'Jharkhand', 'Jammu & Kashmir-UT', 'Goa', 'Chandigarh', 'Meghalaya', 'Manipur', 'Nagaland', 'Andaman & Nicobar Islands', 'Maharashtra', 'Karnataka', 'Gujarat', 'Rajasthan', 'Telangana', 'Kerala', 'Haryana', 'Odisha', 'Assam', 'Jharkhand', 'Jammu & Kashmir-UT', 'Goa', 'Chandigarh', 'Meghalaya', 'Arunachal Pradesh', 'Nagaland', 'Andaman & Nicobar Islands']

In [68]:
GSDP_22_23_at_current_prices=[]
gdp=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[3]')
for i in gdp:
    if i.text is None :
        GSDP_22_23_at_current_prices.append("--") 
    else:
        GSDP_22_23_at_current_prices.append(i.text)
print(len(GSDP_22_23_at_current_prices),GSDP_22_23_at_current_prices)

34 ['-', '2,257,575', '-', '1,413,620', '1,317,728', '-', '994,154', '751,396', '493,167', '393,722', '227,927', '-', '-', '42,697', '-', '-', '-', '-', '2,036,748', '-', '1,259,527', '1,187,082', '-', '885,308', '691,888', '427,147', '360,689', '185,489', '-', '-', '37,925', '-', '-', '-']

In [71]:
GSDP_21_22_at_current_prices=[]
gdp1=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[4]')
for i in gdp1:
    if i.text is None :
        GSDP_21_22_at_current_prices.append("--") 
    else:
        GSDP_21_22_at_current_prices.append(i.text)
print(len(GSDP_21_22_at_current_prices),GSDP_21_22_at_current_prices)

34 ['3,108,022', '1,974,532', '1,937,066', '1,218,193', '1,133,837', '932,470', '870,665', '650,302', '412,612', '358,863', '199,917', '82,604', '45,635', '38,785', '36,594', '31,913', '10,371', '2,690,525', '1,782,121', '1,700,504', '1,084,845', '1,024,205', '822,970', '779,197', '587,900', '363,161', '325,830', '162,644', '73,973', '40,573', '34,441', '31,669', '27,859', '9,209']

In [72]:
Share=[]
Sh=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[5]')
for i in Sh:
    if i.text is None :
        Share.append("--") 
    else:
        Share.append(i.text)
print(len(Share),Share)

34 ['13.24%', '8.41%', '8.25%', '5.19%', '4.83%', '3.97%', '3.71%', '2.77%', '1.76%', '1.53%', '0.85%', '0.35%', '0.19%', '0.17%', '0.16%', '0.14%', '0.04%', '13.24%', '8.77%', '8.37%', '5.34%', '5.04%', '4.05%', '3.83%', '2.89%', '1.79%', '1.60%', '0.80%', '0.36%', '0.20%', '0.17%', '0.16%', '0.14%', '0.05%']

In [73]:
GDP_USD_Billion=[]
GDP=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[6]')
for i in GDP:
    if i.text is None :
        GDP_USD_Billion.append("--") 
    else:
        GDP_USD_Billion.append(i.text)
print(len(GDP_USD_Billion),GDP_USD_Billion)

34 ['417.163', '265.024', '259.996', '163.507', '152.185', '125.157', '116.862', '87.284', '55.381', '48.167', '26.833', '11.087', '6.125', '5.206', '4.912', '4.283', '1.392', '-', '1,190,851', '-', '694,771', '642,207', '-', '542,972', '403,222', '251,688', '235,685', '105,636', '-', '-', '21,905', '-', '-', '-']

In [78]:
df=pd.DataFrame({"Rank":Rank,"State":State,"GSDP(22-23)at current prices":GSDP_22_23_at_current_prices,"GSDP(21-22)at current prices":GSDP_22_23_at_current_prices,"Share":Share,"GDP_USD_Billion":GDP_USD_Billion})
df

,Rank,State,GSDP(22-23)at current prices,GSDP(21-22)at current prices,Share,GDP_USD_Billion
0,1,Maharashtra,-,-,13.24%,417.163
1,3,Uttar Pradesh,"2,257,575","2,257,575",8.41%,265.024
2,5,Gujarat,-,-,8.25%,259.996
3,7,Rajasthan,"1,413,620","1,413,620",5.19%,163.507
4,9,Andhra Pradesh,"1,317,728","1,317,728",4.83%,152.185
5,11,Kerala,-,-,3.97%,125.157
6,13,Haryana,"994,154","994,154",3.71%,116.862
7,15,Bihar,"751,396","751,396",2.77%,87.284
8,17,Assam,"493,167","493,167",1.76%,55.381
9,19,Jharkhand,"393,722","393,722",1.53%,48.167
10,21,Jammu & Kashmir-UT,"227,927","227,927",0.85%,26.833
11,23,Goa,-,-,0.35%,11.087
12,25,Chandigarh,-,-,0.19%,6.125
13,27,Meghalaya,"42,697","42,697",0.17%,5.206
14,29,Manipur,-,-,0.16%,4.912
15,31,Nagaland,-,-,0.14%,4.283
16,33,Andaman & Nicobar Islands,-,-,0.04%,1.392
17,1,Maharashtra,-,-,13.24%,-
18,3,Karnataka,"2,036,748","2,036,748",8.77%,"1,190,851"
19,5,Gujarat,-,-,8.37%,-
20,7,Rajasthan,"1,259,527","1,259,527",5.34%,"694,771"
21,9,Telangana,"1,187,082","1,187,082",5.04%,"642,207"
22,11,Kerala,-,-,4.05%,-
23,13,Haryana,"885,308","885,308",3.83%,"542,972"
24,15,Odisha,"691,888","691,888",2.89%,"403,222"
25,17,Assam,"427,147","427,147",1.79%,"251,688"
26,19,Jharkhand,"360,689","360,689",1.60%,"235,685"
27,21,Jammu & Kashmir-UT,"185,489","185,489",0.80%,"105,636"
28,23,Goa,-,-,0.36%,-
29,25,Chandigarh,-,-,0.20%,-
30,27,Meghalaya,"37,925","37,925",0.17%,"21,905"
31,29,Arunachal Pradesh,-,-,0.16%,-
32,31,Nagaland,-,-,0.14%,-
33,33,Andaman & Nicobar Islands,-,-,0.05%,-

In [79]:
# Q4 ANS:

In [80]:
driver =webdriver.Chrome()
driver.get("https://github.com/")

In [87]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span')
Search.click()

In [88]:
Search=driver.find_element(By.XPATH,'//ul[@class="d-lg-flex list-style-none"]/li[3]/button')
Search.click()

In [89]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
Search.click()

In [90]:
Repository_title=[]
RT=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in RT:
    if i.text is None :
        Repository_title.append("--") 
    else:
        Repository_title.append(i.text)
print(len(Repository_title),Repositor y_title)

25 ['lobehub /', 'chatchat-space /', 'charlax /', 'hiddify /', 'levihsu /', 'Speykious /', 'codecrafters-io /', 'systemdesign42 /', 'I-S00N /', 'weijunext /', 'qarmin /', 'trimstray /', 'mttaggart /', 'gunnarmorling /', 'vvbbnn00 /', 'keras-team /', 'xtekky /', 'charlax /', 'facebookresearch /', 'camunda /', 'facebook /', 'krahets /', 'ggerganov /', 'dunwu /', 'maybe-finance /']

In [91]:
Repository_description=[]
RD=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in RT:
    if i.text is None :
        Repository_description.append("--") 
    else:
        Repository_description.append(i.text)
print(len(Repository_description),Repository_description)

25 ['lobehub /', 'chatchat-space /', 'charlax /', 'hiddify /', 'levihsu /', 'Speykious /', 'codecrafters-io /', 'systemdesign42 /', 'I-S00N /', 'weijunext /', 'qarmin /', 'trimstray /', 'mttaggart /', 'gunnarmorling /', 'vvbbnn00 /', 'keras-team /', 'xtekky /', 'charlax /', 'facebookresearch /', 'camunda /', 'facebook /', 'krahets /', 'ggerganov /', 'dunwu /', 'maybe-finance /']

In [93]:
Contributors_count=[]
CC=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')
for i in CC:
    if i.text is None :
        Contributors_count.append("--") 
    else:
        Contributors_count.append(i.text)
print(len(Contributors_count),Contributors_count)

50 ['18,816', '3,748', '22,961', '3,986', '40,984', '3,137', '5,345', '397', '1,184', '106', '1,993', '33', '246,612', '23,427', '1,190', '75', '3,845', '1,847', '990', '62', '14,477', '405', '123,482', '8,337', '55', '18', '3,384', '1,119', '1,056', '135', '60,353', '19,262', '53,535', '12,310', '6,699', '533', '3,436', '305', '3,782', '1,444', '114,538', '23,678', '63,526', '7,725', '51,241', '7,179', '4,063', '754', '24,136', '1,781']

In [99]:
Language_use=[]
Lu=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in Lu:
    if i.text is None :
        Language_use.append("--") 
    else:
        Language_use.append(i.text)
print(len(Language_use),Language_use)

19 ['TypeScript', 'Python', 'Python', 'Dart', 'Python', 'Rust', 'Rust', 'Java', 'Python', 'Python', 'Python', 'Shell', 'Python', 'Java', 'C++', 'Java', 'C++', 'Shell', 'Ruby']

In [100]:
df=pd.DataFrame({"Repository title":Repository_title[0:19],"Repository description":Repository_description[0:19],"Contributors_count":Contributors_count[0:19],"Language use":Language_use[0:19]})
df

      Repository title Repository description Contributors_count Language use
0            lobehub /              lobehub /             18,816   TypeScript
1     chatchat-space /       chatchat-space /              3,748       Python
2            charlax /              charlax /             22,961       Python
3            hiddify /              hiddify /              3,986         Dart
4            levihsu /              levihsu /             40,984       Python
5          Speykious /            Speykious /              3,137         Rust
6    codecrafters-io /      codecrafters-io /              5,345         Rust
7     systemdesign42 /       systemdesign42 /                397         Java
8             I-S00N /               I-S00N /              1,184       Python
9          weijunext /            weijunext /                106       Python
10            qarmin /               qarmin /              1,993       Python
11         trimstray /            trimstray /                 33        Shell
12         mttaggart /            mttaggart /            246,612       Python
13     gunnarmorling /        gunnarmorling /             23,427         Java
14          vvbbnn00 /             vvbbnn00 /              1,190          C++
15        keras-team /           keras-team /                 75         Java
16            xtekky /               xtekky /              3,845          C++
17           charlax /              charlax /              1,847        Shell
18  facebookresearch /     facebookresearch /                990         Ruby

In [101]:
# Q.5 Ans:

In [180]:
driver =webdriver.Chrome()
driver.get("https:/www.billboard.com/")

In [183]:
Search=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
Search.click()

In [184]:
Search=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
Search.click()

In [185]:
Search=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
Search.click()

In [208]:
Song_name=[]
SN=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in SN:
    if i.text is None :
        Song_name.append("--") 
    else:
        Song_name.append(i.text)
print(len(Song_name),Song_name)

100 ['Lovin On Me', "Texas Hold 'Em", 'Carnival', 'Beautiful Things', 'Lose Control', 'Cruel Summer', 'Snooze', 'I Remember Everything', 'Greedy', 'Stick Season', 'Fast Car', 'Agora Hills', 'Water', 'Last Night', 'Redrum', "Thinkin' Bout Me", 'Flowers', "Is It Over Now? (Taylor's Version) [From The Vault]", 'Paint The Town Red', 'Yeah!', 'Never Lose Me', 'La Diabla', 'Fuk Sumn', 'Pretty Little Poison', 'Houdini', 'Back To Me', 'What Was I Made For?', 'Forever', 'Where The Wild Things Are', 'Talking', 'Yes, And?', 'Made For Me', 'Burn', 'Vultures', 'The Painter', 'Good Good', 'Selfish', '16 Carriages', 'Stars', 'Everybody', 'Rich Baby Daddy', 'Feather', 'Vampire', 'On My Mama', 'Wild Ones', 'Dance The Night', 'Save Me', 'Hiss', 'Exes', 'Need A Favor', 'Truck Bed', 'Do It', 'Paid', 'Surround Sound', 'Keys To My Life', 'World On Fire', 'First Person Shooter', 'La Victima', 'Get In With Me', 'Burn It Down', 'Standing Next To You', 'Think U The Shit (Fart)', 'Praise Jah In The Moonlight', 'Paperwork', 'Beg Forgiveness', 'Man Made A Bar', 'Hoodrat', 'One Call', 'Igual Que Un Angel', 'Spin You Around (1/24)', 'FTCU', 'One Of The Girls', 'Murder On The Dancefloor', 'You Broke My Heart', 'Northern Attitude', 'FE!N', '23', 'Bandit', 'Problematic', 'Nee-nah', 'Act II: Date @ 8', 'I Can Feel It', "Mamaw's House", 'Soak City', 'Harley Quinn', "You're Gonna Go Far", 'Bellakeo', 'IDGAF', 'Yeah Glo!', "Different 'Round Here", 'She Calls Me Back', "We Don't Fight Anymore", "Good (Don't Die)", 'King', 'Coal', 'Mmhmm', 'Monaco', 'Prove It', 'Perro Negro', 'Sunday Service']

In [209]:
Artist_name_=[]
artistnam=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
for i in artistnam:
    if i.text is None :
        Artist_name_.append("--") 
    else:
        Artist_name_.append(i.text)
print(len(Artist_name_),Artist_name_)

100 ['Jack Harlow', 'Beyonce', '¥$: Kanye West & Ty Dolla $ign', 'Benson Boone', 'Teddy Swims', 'Taylor Swift', 'SZA', 'Zach Bryan Featuring Kacey Musgraves', 'Tate McRae', 'Noah Kahan', 'Luke Combs', 'Doja Cat', 'Tyla', 'Morgan Wallen', '21 Savage', 'Morgan Wallen', 'Miley Cyrus', 'Taylor Swift', 'Doja Cat', 'Usher Featuring Lil Jon & Ludacris', 'Flo Milli', 'Xavi', '¥$: Kanye West & Ty Dolla $ign', 'Warren Zeiders', 'Dua Lipa', '¥$: Kanye West & Ty Dolla $ign', 'Billie Eilish', 'Noah Kahan', 'Luke Combs', '¥$: Kanye West & Ty Dolla $ign Featuring North West', 'Ariana Grande', 'Muni Long', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J', 'Cody Johnson', 'Usher, Summer Walker & 21 Savage', 'Justin Timberlake', 'Beyonce', '¥$: Kanye West & Ty Dolla $ign', 'Nicki Minaj Featuring Lil Uzi Vert', 'Drake Featuring Sexyy Red & SZA', 'Sabrina Carpenter', 'Olivia Rodrigo', 'Victoria Monet', 'Jessie Murph & Jelly Roll', 'Dua Lipa', 'Jelly Roll With Lainey Wilson', 'Megan Thee Stallion', 'Tate McRae', 'Jelly Roll', 'HARDY', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign', 'JID Featuring 21 Savage & Baby Tate', '¥$: Kanye West & Ty Dolla $ign', 'Nate Smith', 'Drake Featuring J. Cole', 'Xavi', 'BossMan Dlow', 'Parker McCollum', 'Jung Kook', 'Ice Spice', 'YG Marley', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign', 'Morgan Wallen Featuring Eric Church', '¥$: Kanye West & Ty Dolla $ign', 'Rich Amiri', 'Kali Uchis & Peso Pluma', 'Morgan Wallen', 'Nicki Minaj', 'The Weeknd, Jennie & Lily Rose Depp', 'Sophie Ellis-Bextor', 'Drake', 'Noah Kahan With Hozier', 'Travis Scott Featuring Playboi Carti', 'Chayce Beckham', 'Don Toliver', '¥$: Kanye West & Ty Dolla $ign', '21 Savage, Travis Scott & Metro Boomin', '4Batz', 'Kane Brown', 'Thomas Rhett Featuring Morgan Wallen', '310babii', 'Fuerza Regida & Marshmello', 'Noah Kahan', 'Peso Pluma & Anitta', 'Drake Featuring Yeat', 'GloRilla', 'Riley Green Featuring Luke Combs', 'Noah Kahan With Kacey Musgraves', 'Carly Pearce Featuring Chris Stapleton', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign', 'Dylan Gossett', 'BigXthaPlug', 'Bad Bunny', '21 Savage & Summer Walker', 'Bad Bunny & Feid', 'Latto']

In [210]:
Last_week_rank=[]
LWR=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
for i in LWR:
    if i.text is None :
        Last_week_rank.append("--") 
    else:
        Last_week_rank.append(i.text)
print(len(Last_week_rank),Last_week_rank)

100 ['1', '-', '-', '3', '2', '4', '5', '6', '7', '11', '8', '9', '12', '15', '14', '16', '10', '18', '17', '-', '19', '25', '-', '24', '22', '-', '20', '-', '26', '-', '21', '28', '-', '-', '30', '45', '23', '-', '-', '27', '32', '36', '29', '33', '35', '37', '40', '13', '34', '39', '46', '-', '-', '48', '-', '44', '47', '56', '68', '55', '81', '52', '60', '-', '-', '63', '-', '64', '53', '51', '54', '57', '59', '65', '97', '69', '74', '38', '-', '58', '61', '73', '78', '76', '67', '-', '70', '72', '-', '66', '-', '79', '-', '-', '86', '83', '77', '75', '82', '-']

In [211]:
Peak_rank=[]
PR=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for i in PR:
    if i.text is None :
        Peak_rank.append("--") 
    else:
        Peak_rank.append(i.text)
print(len(Peak_rank),Peak_rank)

100 ['1', '2', '3', '3', '2', '1', '2', '1', '3', '10', '2', '7', '7', '1', '5', '7', '1', '1', '1', '1', '18', '20', '23', '24', '11', '26', '14', '28', '26', '30', '1', '28', '33', '34', '30', '25', '19', '38', '39', '24', '11', '36', '1', '33', '35', '6', '19', '1', '34', '13', '36', '52', '53', '40', '55', '21', '1', '46', '59', '52', '5', '37', '60', '64', '65', '15', '67', '64', '22', '24', '15', '57', '51', '11', '37', '5', '64', '38', '79', '10', '59', '59', '55', '61', '40', '86', '53', '2', '89', '60', '76', '67', '93', '94', '86', '65', '5', '43', '20', '100']

In [212]:
Weeks_board=[]
wb=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]//span')
for i in wb:
    if i.text is None :
        Weeks_board.append("--") 
    else:
        Weeks_board.append(i.text)
print(len(Weeks_board),Weeks_board)

100 ['14', '1', '1', '4', '27', '41', '61', '25', '22', '20', '47', '21', '20', '55', '5', '50', '52', '16', '28', '46', '9', '9', '1', '23', '14', '1', '30', '1', '13', '1', '5', '5', '1', '1', '19', '27', '3', '1', '1', '10', '19', '11', '30', '22', '19', '33', '32', '3', '13', '44', '35', '1', '1', '14', '1', '16', '19', '9', '2', '17', '15', '3', '3', '1', '1', '21', '1', '3', '5', '3', '10', '8', '7', '13', '11', '16', '7', '2', '1', '5', '6', '7', '7', '9', '15', '1', '9', '19', '1', '11', '2', '9', '1', '1', '6', '8', '18', '5', '15', '1']

In [214]:
df=pd.DataFrame({"Song name":Song_name,"Artist name":Artist_name_,"Last week rank":Last_week_rank,"Peak rank":Peak_rank,"Weeks on board":Weeks_board})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Lovin On Me,Jack Harlow,1,1,14
1,Texas Hold 'Em,Beyonce,-,2,1
2,Carnival,¥$: Kanye West & Ty Dolla $ign,-,3,1
3,Beautiful Things,Benson Boone,3,3,4
4,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...
95,Mmhmm,BigXthaPlug,83,65,8
96,Monaco,Bad Bunny,77,5,18
97,Prove It,21 Savage & Summer Walker,75,43,5
98,Perro Negro,Bad Bunny & Feid,82,20,15
99,Sunday Service,Latto,-,100,1

In [ ]:
# Q. no. 6-- Ans

In [134]:
driver =webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [136]:
Book_name=[]
BN=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
for i in BN:
    if i.text is None :
        Book_name.append("--") 
    else:
        Book_name.append(i.text)
print(len(Book_name),Book_name)

100 ['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [138]:
Author_name=[]
AN=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
for i in AN:
    if i.text is None :
        Author_name.append("--") 
    else:
        Author_name.append(i.text)
print(len(Author_name),Author_name)

100 ['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

In [139]:
Volumes_sold=[]
VS=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
for i in VS:
    if i.text is None :
        Volumes_sold.append("--") 
    else:
        Volumes_sold.append(i.text)
print(len(Volumes_sold),Volumes_sold)

100 ['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

In [140]:
Publisher=[]
publish=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
for i in publish:
    if i.text is None :
        Publisher.append("--") 
    else:
        Publisher.append(i.text)
print(len(Publisher),Publisher)

100 ['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

In [141]:
Genre=[]
gener=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')
for i in gener:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
print(len(Genre),Genre)

100 ['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

In [142]:
df=pd.DataFrame({"Book name":Book_name,"Author name":Author_name,"Volumes sold":Volumes_sold,"Publisher":Publisher})
df

,Book name,Author name,Volumes sold,Publisher
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

In [ ]:
# Q. no. 7-- Ans

In [144]:
driver =webdriver.Chrome()
driver.get("https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc")

In [148]:
Name=[]
name=driver.find_elements(By.XPATH,'//div[@class="sc-be6f1408-0 gVGktK"]/div/a')
for i in name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
print(len(Name),Name)

50 ['1. Game of Thrones', '2. Breaking Bad', '3. Stranger Things', '4. Friends', '5. The Walking Dead', '6. Sherlock', '7. The Big Bang Theory', '8. Dexter', '9. How I Met Your Mother', '10. The Office', '11. True Detective', '12. Peaky Blinders', '13. Better Call Saul', '14. The Boys', '15. Black Mirror', '16. Rick and Morty', '17. Lost', '18. The Mandalorian', '19. Vikings', '20. Prison Break', '21. The Witcher', '22. Squid Game', '23. Westworld', '24. House of Cards', '25. Money Heist', '26. House', '27. The Last of Us', '28. Attack on Titan', '29. Supernatural', '30. Modern Family', '31. Suits', '32. Daredevil', '33. Narcos', '34. The Sopranos', '35. Arrow', '36. Dark', '37. The Simpsons', '38. Fargo', '39. Mr. Robot', '40. Loki', '41. South Park', '42. The Wire', '43. Death Note', '44. The Flash', '45. House of the Dragon', '46. Family Guy', '47. Homeland', '48. Avatar: The Last Airbender', '49. Brooklyn Nine-Nine', '50. Wednesday']

In [149]:
Year_span=[]
ys=driver.find_elements(By.XPATH,'//div[@class="sc-be6f1408-0 gVGktK"]/div[2]/span[1]')
for i in ys:
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text)
print(len(Year_span),Year_span)

50 ['2011–2019', '2008–2013', '2016–2025', '1994–2004', '2010–2022', '2010–2017', '2007–2019', '2006–2013', '2005–2014', '2005–2013', '2014–', '2013–2022', '2015–2022', '2019–', '2011–', '2013–', '2004–2010', '2019–', '2013–2020', '2005–2017', '2019–', '2021–', '2016–2022', '2013–2018', '2017–2021', '2004–2012', '2023–', '2013–2023', '2005–2020', '2009–2020', '2011–2019', '2015–2018', '2015–2017', '1999–2007', '2012–2020', '2017–2020', '1989–', '2014–2024', '2015–2019', '2021–2023', '1997–', '2002–2008', '2006–2007', '2014–2023', '2022–', '1999–2025', '2011–2020', '2005–2008', '2013–2021', '2022–']

In [150]:
Rating=[]
rtng=driver.find_elements(By.XPATH,'//span[@class="sc-be6f1408-1 dbnleL"]/div/span')
for i in rtng:
    if i.text is None :
        Rating.append("--") 
    else:
        Rating.append(i.text)
print(len(Rating),Rating)

50 ['9.2\n (2.3M)', '9.5\n (2.1M)', '8.7\n (1.3M)', '8.9\n (1.1M)', '8.1\n (1.1M)', '9.1\n (988K)', '8.1\n (860K)', '8.7\n (759K)', '8.3\n (723K)', '9.0\n (699K)', '8.9\n (641K)', '8.8\n (636K)', '9.0\n (635K)', '8.7\n (634K)', '8.7\n (632K)', '9.1\n (594K)', '8.3\n (590K)', '8.7\n (580K)', '8.5\n (575K)', '8.3\n (574K)', '8.0\n (565K)', '8.0\n (530K)', '8.5\n (529K)', '8.6\n (528K)', '8.2\n (526K)', '8.7\n (504K)', '8.8\n (501K)', '9.1\n (498K)', '8.4\n (479K)', '8.5\n (476K)', '8.4\n (471K)', '8.6\n (471K)', '8.8\n (465K)', '9.2\n (462K)', '7.5\n (445K)', '8.7\n (437K)', '8.7\n (433K)', '8.9\n (416K)', '8.5\n (415K)', '8.2\n (406K)', '8.7\n (403K)', '9.3\n (373K)', '8.9\n (372K)', '7.5\n (367K)', '8.4\n (363K)', '8.2\n (362K)', '8.3\n (359K)', '9.3\n (357K)', '8.4\n (356K)', '8.1\n (353K)']

In [158]:
Votes=[]
votes=driver.find_elements(By.XPATH,'//div[@class="sc-f24f1c5c-0 cPpOqU"]')
for i in votes:
    if i.text is None :
        Votes.append("--")
    else:
        Votes.append(i.text)
print(len(Votes),Votes)

50 ['Votes2,259,240', 'Votes2,106,674', 'Votes1,318,101', 'Votes1,077,414', 'Votes1,070,411', 'Votes988,332', 'Votes860,111', 'Votes758,880', 'Votes723,390', 'Votes698,545', 'Votes641,462', 'Votes636,308', 'Votes635,464', 'Votes633,536', 'Votes632,299', 'Votes593,712', 'Votes589,705', 'Votes579,636', 'Votes575,272', 'Votes574,333', 'Votes564,555', 'Votes530,375', 'Votes529,274', 'Votes527,938', 'Votes525,940', 'Votes504,164', 'Votes500,863', 'Votes497,655', 'Votes478,518', 'Votes476,425', 'Votes471,286', 'Votes470,843', 'Votes465,118', 'Votes461,871', 'Votes444,578', 'Votes437,042', 'Votes432,669', 'Votes415,576', 'Votes414,794', 'Votes406,034', 'Votes403,030', 'Votes372,577', 'Votes372,009', 'Votes366,740', 'Votes363,025', 'Votes361,670', 'Votes359,038', 'Votes357,066', 'Votes355,655', 'Votes352,634']

In [161]:
df=pd.DataFrame({"Name":Name,"Year span":Year_span,"Rating":Rating,"Votes":Votes})
df

                              Name  Year span        Rating           Votes
0               1. Game of Thrones  2011–2019  9.2\n (2.3M)  Votes2,259,240
1                  2. Breaking Bad  2008–2013  9.5\n (2.1M)  Votes2,106,674
2               3. Stranger Things  2016–2025  8.7\n (1.3M)  Votes1,318,101
3                       4. Friends  1994–2004  8.9\n (1.1M)  Votes1,077,414
4              5. The Walking Dead  2010–2022  8.1\n (1.1M)  Votes1,070,411
5                      6. Sherlock  2010–2017  9.1\n (988K)    Votes988,332
6           7. The Big Bang Theory  2007–2019  8.1\n (860K)    Votes860,111
7                        8. Dexter  2006–2013  8.7\n (759K)    Votes758,880
8         9. How I Met Your Mother  2005–2014  8.3\n (723K)    Votes723,390
9                   10. The Office  2005–2013  9.0\n (699K)    Votes698,545
10              11. True Detective      2014–  8.9\n (641K)    Votes641,462
11              12. Peaky Blinders  2013–2022  8.8\n (636K)    Votes636,308
12            13. Better Call Saul  2015–2022  9.0\n (635K)    Votes635,464
13                    14. The Boys      2019–  8.7\n (634K)    Votes633,536
14                15. Black Mirror      2011–  8.7\n (632K)    Votes632,299
15              16. Rick and Morty      2013–  9.1\n (594K)    Votes593,712
16                        17. Lost  2004–2010  8.3\n (590K)    Votes589,705
17             18. The Mandalorian      2019–  8.7\n (580K)    Votes579,636
18                     19. Vikings  2013–2020  8.5\n (575K)    Votes575,272
19                20. Prison Break  2005–2017  8.3\n (574K)    Votes574,333
20                 21. The Witcher      2019–  8.0\n (565K)    Votes564,555
21                  22. Squid Game      2021–  8.0\n (530K)    Votes530,375
22                   23. Westworld  2016–2022  8.5\n (529K)    Votes529,274
23              24. House of Cards  2013–2018  8.6\n (528K)    Votes527,938
24                 25. Money Heist  2017–2021  8.2\n (526K)    Votes525,940
25                       26. House  2004–2012  8.7\n (504K)    Votes504,164
26              27. The Last of Us      2023–  8.8\n (501K)    Votes500,863
27             28. Attack on Titan  2013–2023  9.1\n (498K)    Votes497,655
28                29. Supernatural  2005–2020  8.4\n (479K)    Votes478,518
29               30. Modern Family  2009–2020  8.5\n (476K)    Votes476,425
30                       31. Suits  2011–2019  8.4\n (471K)    Votes471,286
31                   32. Daredevil  2015–2018  8.6\n (471K)    Votes470,843
32                      33. Narcos  2015–2017  8.8\n (465K)    Votes465,118
33                34. The Sopranos  1999–2007  9.2\n (462K)    Votes461,871
34                       35. Arrow  2012–2020  7.5\n (445K)    Votes444,578
35                        36. Dark  2017–2020  8.7\n (437K)    Votes437,042
36                37. The Simpsons      1989–  8.7\n (433K)    Votes432,669
37                       38. Fargo  2014–2024  8.9\n (416K)    Votes415,576
38                   39. Mr. Robot  2015–2019  8.5\n (415K)    Votes414,794
39                        40. Loki  2021–2023  8.2\n (406K)    Votes406,034
40                  41. South Park      1997–  8.7\n (403K)    Votes403,030
41                    42. The Wire  2002–2008  9.3\n (373K)    Votes372,577
42                  43. Death Note  2006–2007  8.9\n (372K)    Votes372,009
43                   44. The Flash  2014–2023  7.5\n (367K)    Votes366,740
44         45. House of the Dragon      2022–  8.4\n (363K)    Votes363,025
45                  46. Family Guy  1999–2025  8.2\n (362K)    Votes361,670
46                    47. Homeland  2011–2020  8.3\n (359K)    Votes359,038
47  48. Avatar: The Last Airbender  2005–2008  9.3\n (357K)    Votes357,066
48          49. Brooklyn Nine-Nine  2013–2021  8.4\n (356K)    Votes355,655
49                   50. Wednesday      2022–  8.1\n (353K)    Votes352,634

In [162]:
# Q no. 8 Ans-

In [164]:
driver =webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

In [165]:
Search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
Search.click()

In [166]:
Search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
Search.click()

In [171]:
Dataset_name=[]
start=0
end=10
for page in range(start,end):
    DN=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
    for i in DN:
        if i.text is None :
            Dataset_name.append("--")
        else:
            Dataset_name.append(i.text)
print(len(Dataset_name),Dataset_name)

100 ['Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes']

In [172]:
Data_type=[]
start=0
end=10
for page in range(start,end):
    DT=driver.find_elements(By.XPATH,'//div[2][@class="col-span-3 flex items-center gap-2"]/span')
    for i in DT:
        if i.text is None :
            Data_type.append("--")
        else:
            Data_type.append(i.text)
print(len(Data_type),Data_type)

100 ['Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series']

In [173]:
Task=[]
start=0
end=10
for page in range(start,end):
    task=driver.find_elements(By.XPATH,'//div[1][@class="col-span-3 flex items-center gap-2"]/span')
    for i in task:
        if i.text is None :
            Task.append("--")
        else:
            Task.append(i.text)
print(len(Task),Task)

100 ['Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification']

In [174]:
Attribute_type=[]
start=0
end=10
for page in range(start,end):
    AT=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[2]')
    for i in AT:
        if i.text is None :
            Attribute_type.append("--")
        else:
            Attribute_type.append(i.text)
print(len(Attribute_type),Attribute_type)

100 ['Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Integer, Real', 'Real', 'Real', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Integer, Real', 'Real', 'Real', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Integer, Real', 'Real', 'Real', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Integer, Real', 'Real', 'Real', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Integer, Real', 'Real', 'Real', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Integer, Real', 'Real', 'Real', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Integer, Real', 'Real', 'Real', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Integer, Real', 'Real', 'Real', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Integer, Real', 'Real', 'Real', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Integer, Real', 'Real', 'Real', 'Categorical, Integer']

In [175]:
No_of_instances=[]
start=0
end=10
for page in range(start,end):
    NOI=driver.find_elements(By.XPATH,'//div[3][@class="col-span-3 flex items-center gap-2"]/span')
    for i in NOI:
        if i.text is None :
            No_of_instances.append("--")
        else:
            No_of_instances.append(i.text)
print(len(No_of_instances),No_of_instances)

100 ['150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances']

In [176]:
No_of_attribute=[]
start=0
end=10
for page in range(start,end):
    NOA=driver.find_elements(By.XPATH,'//div[4][@class="col-span-3 flex items-center gap-2"]/span')
    for i in NOA:
        if i.text is None :
            No_of_attribute.append("--")
        else:
            No_of_attribute.append(i.text)
print(len(No_of_attribute),No_of_attribute)

100 ['4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features', '4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features', '4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features', '4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features', '4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features', '4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features', '4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features', '4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features', '4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features', '4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features']

In [177]:
Year=[]
start=0
end=10
for page in range(start,end):
    year=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[3]')
    for i in year:
        if i.text is None :
            Year.append("--")
        else:
            Year.append(i.text)
print(len(Year),Year)

100 ['7/1/1988', '9/14/2020', '7/1/1988', '10/6/2019', '5/1/1996', '8/14/2023', '7/1/1991', '11/1/1995', '10/7/2009', 'N/A', '7/1/1988', '9/14/2020', '7/1/1988', '10/6/2019', '5/1/1996', '8/14/2023', '7/1/1991', '11/1/1995', '10/7/2009', 'N/A', '7/1/1988', '9/14/2020', '7/1/1988', '10/6/2019', '5/1/1996', '8/14/2023', '7/1/1991', '11/1/1995', '10/7/2009', 'N/A', '7/1/1988', '9/14/2020', '7/1/1988', '10/6/2019', '5/1/1996', '8/14/2023', '7/1/1991', '11/1/1995', '10/7/2009', 'N/A', '7/1/1988', '9/14/2020', '7/1/1988', '10/6/2019', '5/1/1996', '8/14/2023', '7/1/1991', '11/1/1995', '10/7/2009', 'N/A', '7/1/1988', '9/14/2020', '7/1/1988', '10/6/2019', '5/1/1996', '8/14/2023', '7/1/1991', '11/1/1995', '10/7/2009', 'N/A', '7/1/1988', '9/14/2020', '7/1/1988', '10/6/2019', '5/1/1996', '8/14/2023', '7/1/1991', '11/1/1995', '10/7/2009', 'N/A', '7/1/1988', '9/14/2020', '7/1/1988', '10/6/2019', '5/1/1996', '8/14/2023', '7/1/1991', '11/1/1995', '10/7/2009', 'N/A', '7/1/1988', '9/14/2020', '7/1/1988', '10/6/2019', '5/1/1996', '8/14/2023', '7/1/1991', '11/1/1995', '10/7/2009', 'N/A', '7/1/1988', '9/14/2020', '7/1/1988', '10/6/2019', '5/1/1996', '8/14/2023', '7/1/1991', '11/1/1995', '10/7/2009', 'N/A']

In [178]:
df=pd.DataFrame({"Dataset name":Dataset_name,"Task":Task,"Attribute type":Attribute_type,"No_of_instances":No_of_instances,"No of attribute":No_of_attribute,"Year":Year})
df

,Dataset name,Task,Attribute type,No_of_instances,No of attribute,Year
0,Iris,Classification,Real,150 Instances,4 Features,7/1/1988
1,Dry Bean Dataset,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
2,Heart Disease,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),Classification,Real,3.81K Instances,7 Features,10/6/2019
4,Adult,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
...,...,...,...,...,...,...
95,Raisin,Classification,"Real, Integer",900 Instances,8 Features,8/14/2023
96,Wine,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
97,Breast Cancer Wisconsin (Diagnostic),Classification,Real,569 Instances,30 Features,11/1/1995
98,Wine Quality,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
99,Diabetes,Classification,"Categorical, Integer",1 Instances,20 Features,N/A